@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,FILL@20,1";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

:root {
  /* custom */
  --primary-dark-1: #5d38bf;
  --primary-light-1: #a48afb;
  --primary-light-2: #ddd6fe;
  --gray-dark: #475467;
  --gray-light: #ccc;
  --black-dark: #101828;
  --white: #fff;
  --nude: #fbf8f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
