@import './base.css';
@import './swal.css';

#app {
  overflow: hidden;
  margin: 0 auto;
  font-weight: normal;
  font-family: Inter, "Ming Light", "Microsoft JhengHei", PingFang, Arial,
    sans-serif, serif;
  background-color: var(--nude);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
